<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
    <title>글 작성</title>
</head>
<body>
<div class="container">

    <div class="py-5 text-center">
        <h2>글 작성</h2>
    </div>
    <form action="articleView.html" th:action="@{/board/add}" method="post" th:object="${article}">
        <div class="py-1 form-group row text-center">
            <label for="title" class="col-sm-2 col-form-label">글 제목</label>
            <div class="col-sm-10">
                <input type="text" id="title" class="form-control" th:field="*{title}" placeholder="글 제목">
            </div>
        </div>

        <hr class="my-3">

        <div class="py-1 form-group row text-center">
            <label for="content" class="col-sm-2">글 내용</label>
            <div class="col-sm-10">
                <textarea id="content" class="form-control" th:field="*{content}" rows="10" placeholder="글 내용"></textarea>
            </div>
        </div>

        <hr class="py-1">

        <button type="submit" class="btn btn-primary mb-2">등록하기</button>
        <button type="button" class="btn btn-secondary mb-2"
                onclick="location.href='articleList.html'" th:onclick="|location.href='@{/board}'|">돌아가기</button>
    </form>



</div>


</body>


</html>